<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../../../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../../../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:4200/table">SUT Stadium Reservation System</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <a class="navbar-brand" >Admin</a>
                <a class="navbar-brand" href="javascript:void(0);" (click)="logout()">Logout</a>
            </ul>
 
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                                <li>
                                    <a (click)="type()">Dashboard</a>
                                </li>
                                <li>
                                    <a  ><i class="fa fa-table fa-fw"></i> <span class="fa arrow"></span>สนามเทนนิส</a>
                                    <ul class="nav nav-second-level">
                                            <li>
                                                <a (click)="tennis()">ระบบการจองสนามเทนนิส</a>
                                             </li>
                                           
                                      </ul>  
                                </li>
                                <li>
                                        <a  ><i class="fa fa-table fa-fw"></i> <span class="fa arrow"></span>สนามเเบดมินตัน</a>
                                <ul class="nav nav-second-level">
                                        <li>
                                            <a (click)="badminton1()">ระบบการจองสนามเเบดมินตัน(สนามบน)</a>
                                         </li>
                                        <li>
                                            <a (click)="badminton2()">ระบบการจองสนามเเบดมินตัน(สนามล่าง)</a>
                                        </li>
                                      
                            </ul>
                                </li>
                                <li>
                                    <a ><i class="fa fa-bar-chart-o fa-fw"></i>สถิติการจองในเเต่ละวัน<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a (click)="flowchartb()">สถิติการจองของสนามเเบดมินตัน</a>
                                        </li>
                                        <li>
                                            <a (click)="flowchartt()">สถิติการจองของสนามเทนนิส</a>
                                         </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                                <li>
                                    <a ><i class="fa fa-bar-chart-o fa-fw"></i>สถิติการจองในรายเดือน<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a (click)="flowchartbm()">สถิติการจองของสนามเเบดมินตัน1</a>
                                        </li>
                                        <li>
                                            <a (click)="flowchartbm2()">สถิติการจองของสนามเเบดมินตัน2</a>
                                        </li>
                                        <li>
                                            <a (click)="flowchartbm3()">สถิติการจองของสนามเเบดมินตัน3</a>
                                        </li>
                                        <li>
                                            <a (click)="flowcharttm()">สถิติการจองของสนามเทนนิส</a>
                                         </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                                    <li>
                    
                                            <a (click)="register()">สมาชิกของพนักงาน</a>
                                        </li>
                            </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">ระบบการจองของสนามเเบดมินตัน</h1>
                </div>

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            สนามเเบดมินตัน(สนามบน)
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>สนามที่/เวลา</th>
                                        <th>16.00-16.30</th>
                                        <th>16.30-17.00</th>
                                        <th>17.00-17.30</th>
                                        <th>17.30-18.00</th>
                                        <th>18.00-18.30</th>
                                        <th>18.30-19.00</th>
                                        <th>19.00-19.30</th>
                                        <th>19.30-20.00</th>
                                        <th>20.00-20.30</th>
                                        <th>20.30-21.00</th>


                                    </tr>
                                </thead>
                                <tbody>
                                        <tr class="B1">
                                                <td class="center">B1</td>
                                                <td><button class={{_h11}} type="button" (click)="onClick(time_table,'b1','16:00-16:30')">{{_t11}}</button></td>
                                                <td><button class={{_h12}} type="button" (click)="onClick(time_table,'b1','16:30-17:00')">{{_t12}}</button></td>
                                                <td><button class={{_h13}} type="button" (click)="onClick(time_table,'b1','17:00-17:30')">{{_t13}}</button></td>
                                                <td><button class={{_h14}} type="button" (click)="onClick(time_table,'b1','17:30-18:00')">{{_t14}}</button></td>
                                                <td><button class={{_h15}} type="button" (click)="onClick(time_table,'b1','18:00-18:30')">{{_t15}}</button></td>
                                                <td><button class={{_h16}} type="button" (click)="onClick(time_table,'b1','18:30-19:00')">{{_t16}}</button></td>
                                                <td><button class={{_h17}} type="button" (click)="onClick(time_table,'b1','19:00-19:30')">{{_t17}}</button></td>
                                                <td><button class={{_h18}} type="button" (click)="onClick(time_table,'b1','19:30-20:00')">{{_t18}}</button></td>
                                                <td><button class={{_h19}} type="button" (click)="onClick(time_table,'b1','20:00-20:30')">{{_t19}}</button></td>
                                                <td><button class={{_h10}} type="button" (click)="onClick(time_table,'b1','20:30-21:00')">{{_t10}}</button></td>
        
        
                                            </tr>
                                            <tr class="B2">
                                                    <td class="center">B2</td>
                                                    <td><button class={{_h21}} type="button" (click)="onClick(time_table,'b2','16:00-16:30')">{{_t21}}</button></td>
                                                    <td><button class={{_h22}} type="button" (click)="onClick(time_table,'b2','16:30-17:00')">{{_t22}}</button></td>
                                                    <td><button class={{_h23}} type="button" (click)="onClick(time_table,'b2','17:00-17:30')">{{_t23}}</button></td>
                                                    <td><button class={{_h24}} type="button" (click)="onClick(time_table,'b2','17:30-18:00')">{{_t24}}</button></td>
                                                    <td><button class={{_h25}} type="button" (click)="onClick(time_table,'b2','18:00-18:30')">{{_t25}}</button></td>
                                                    <td><button class={{_h26}} type="button" (click)="onClick(time_table,'b2','18:30-19:00')">{{_t26}}</button></td>
                                                    <td><button class={{_h27}} type="button" (click)="onClick(time_table,'b2','19:00-19:30')">{{_t27}}</button></td>
                                                    <td><button class={{_h28}} type="button" (click)="onClick(time_table,'b2','19:30-20:00')">{{_t28}}</button></td>
                                                    <td><button class={{_h29}} type="button" (click)="onClick(time_table,'b2','20:00-20:30')">{{_t29}}</button></td>
                                                    <td><button class={{_h20}} type="button" (click)="onClick(time_table,'b2','20:30-21:00')">{{_t20}}</button></td>
                                            </tr>
                                            <tr class="B3">
                                                    <td class="center">B3</td>
                                                    <td><button class={{_h31}} type="button" (click)="onClick(time_table,'b3','16:00-16:30')">{{_t31}}</button></td>
                                                    <td><button class={{_h32}} type="button" (click)="onClick(time_table,'b3','16:30-17:00')">{{_t32}}</button></td>
                                                    <td><button class={{_h33}} type="button" (click)="onClick(time_table,'b3','17:00-17:30')">{{_t33}}</button></td>
                                                    <td><button class={{_h34}} type="button" (click)="onClick(time_table,'b3','17:30-18:00')">{{_t34}}</button></td>
                                                    <td><button class={{_h35}} type="button" (click)="onClick(time_table,'b3','18:00-18:30')">{{_t35}}</button></td>
                                                    <td><button class={{_h36}} type="button" (click)="onClick(time_table,'b3','18:30-19:00')">{{_t36}}</button></td>
                                                    <td><button class={{_h37}} type="button" (click)="onClick(time_table,'b3','19:00-19:30')">{{_t37}}</button></td>
                                                    <td><button class={{_h38}} type="button" (click)="onClick(time_table,'b3','19:30-20:00')">{{_t38}}</button></td>
                                                    <td><button class={{_h39}} type="button" (click)="onClick(time_table,'b3','20:00-20:30')">{{_t39}}</button></td>
                                                    <td><button class={{_h30}} type="button" (click)="onClick(time_table,'b3','20:30-21:00')">{{_t30}}</button></td>
                                            </tr>
                                            <tr class="B4">
                                                    <td class="center">B4</td>
                                                    <td><button class={{_h41}} type="button" (click)="onClick(time_table,'b4','16:00-16:30')">{{_t41}}</button></td>
                                                    <td><button class={{_h42}} type="button" (click)="onClick(time_table,'b4','16:30-17:00')">{{_t42}}</button></td>
                                                    <td><button class={{_h43}} type="button" (click)="onClick(time_table,'b4','17:00-17:30')">{{_t43}}</button></td>
                                                    <td><button class={{_h44}} type="button" (click)="onClick(time_table,'b4','17:30-18:00')">{{_t44}}</button></td>
                                                    <td><button class={{_h45}} type="button" (click)="onClick(time_table,'b4','18:00-18:30')">{{_t45}}</button></td>
                                                    <td><button class={{_h46}} type="button" (click)="onClick(time_table,'b4','18:30-19:00')">{{_t46}}</button></td>
                                                    <td><button class={{_h47}} type="button" (click)="onClick(time_table,'b4','19:00-19:30')">{{_t47}}</button></td>
                                                    <td><button class={{_h48}} type="button" (click)="onClick(time_table,'b4','19:30-20:00')">{{_t48}}</button></td>
                                                    <td><button class={{_h49}} type="button" (click)="onClick(time_table,'b4','20:00-20:30')">{{_t49}}</button></td>
                                                    <td><button class={{_h40}} type="button" (click)="onClick(time_table,'b4','20:30-21:00')">{{_t40}}</button></td>
                                            </tr>
                                            <tr class="B5">
                                                    <td class="center">B5</td>
                                                    <td><button class={{_h51}} type="button" (click)="onClick(time_table,'b5','16:00-16:30')">{{_t51}}</button></td>
                                                    <td><button class={{_h52}} type="button" (click)="onClick(time_table,'b5','16:30-17:00')">{{_t52}}</button></td>
                                                    <td><button class={{_h53}} type="button" (click)="onClick(time_table,'b5','17:00-17:30')">{{_t53}}</button></td>
                                                    <td><button class={{_h54}} type="button" (click)="onClick(time_table,'b5','17:30-18:00')">{{_t54}}</button></td>
                                                    <td><button class={{_h55}} type="button" (click)="onClick(time_table,'b5','18:00-18:30')">{{_t55}}</button></td>
                                                    <td><button class={{_h56}} type="button" (click)="onClick(time_table,'b5','18:30-19:00')">{{_t56}}</button></td>
                                                    <td><button class={{_h57}} type="button" (click)="onClick(time_table,'b5','19:00-19:30')">{{_t57}}</button></td>
                                                    <td><button class={{_h58}} type="button" (click)="onClick(time_table,'b5','19:30-20:00')">{{_t58}}</button></td>
                                                    <td><button class={{_h59}} type="button" (click)="onClick(time_table,'b5','20:00-20:30')">{{_t59}}</button></td>
                                                    <td><button class={{_h50}} type="button" (click)="onClick(time_table,'b5','20:30-21:00')">{{_t50}}</button></td>
                                            </tr>
                                            <tr class="B6">
                                                    <td class="center">B6</td>
                                                    <td><button class={{_h61}} type="button" (click)="onClick(time_table,'b6','16:00-16:30')">{{_t61}}</button></td>
                                                    <td><button class={{_h62}} type="button" (click)="onClick(time_table,'b6','16:30-17:00')">{{_t62}}</button></td>
                                                    <td><button class={{_h63}} type="button" (click)="onClick(time_table,'b6','17:00-17:30')">{{_t63}}</button></td>
                                                    <td><button class={{_h64}} type="button" (click)="onClick(time_table,'b6','17:30-18:00')">{{_t64}}</button></td>
                                                    <td><button class={{_h65}} type="button" (click)="onClick(time_table,'b6','18:00-18:30')">{{_t65}}</button></td>
                                                    <td><button class={{_h66}} type="button" (click)="onClick(time_table,'b6','18:30-19:00')">{{_t66}}</button></td>
                                                    <td><button class={{_h67}} type="button" (click)="onClick(time_table,'b6','19:00-19:30')">{{_t67}}</button></td>
                                                    <td><button class={{_h68}} type="button" (click)="onClick(time_table,'b6','19:30-20:00')">{{_t68}}</button></td>
                                                    <td><button class={{_h69}} type="button" (click)="onClick(time_table,'b6','20:00-20:30')">{{_t69}}</button></td>
                                                    <td><button class={{_h60}} type="button" (click)="onClick(time_table,'b6','20:30-21:00')">{{_t60}}</button></td>
                                            </tr>
                                            <tr class="B7">
                                                    <td class="center">B7</td>
                                                    <td><button class={{_h71}} type="button" (click)="onClick(time_table,'b7','16:00-16:30')">{{_t71}}</button></td>
                                                    <td><button class={{_h72}} type="button" (click)="onClick(time_table,'b7','16:30-17:00')">{{_t72}}</button></td>
                                                    <td><button class={{_h73}} type="button" (click)="onClick(time_table,'b7','17:00-17:30')">{{_t73}}</button></td>
                                                    <td><button class={{_h74}} type="button" (click)="onClick(time_table,'b7','17:30-18:00')">{{_t74}}</button></td>
                                                    <td><button class={{_h75}} type="button" (click)="onClick(time_table,'b7','18:00-18:30')">{{_t75}}</button></td>
                                                    <td><button class={{_h76}} type="button" (click)="onClick(time_table,'b7','18:30-19:00')">{{_t76}}</button></td>
                                                    <td><button class={{_h77}} type="button" (click)="onClick(time_table,'b7','19:00-19:30')">{{_t77}}</button></td>
                                                    <td><button class={{_h78}} type="button" (click)="onClick(time_table,'b7','19:30-20:00')">{{_t78}}</button></td>
                                                    <td><button class={{_h79}} type="button" (click)="onClick(time_table,'b7','20:00-20:30')">{{_t79}}</button></td>
                                                    <td><button class={{_h70}} type="button" (click)="onClick(time_table,'b7','20:30-21:00')">{{_t70}}</button></td>
                                            </tr>
                                </tbody>
                                
                            </table>
                            <p>   หมายเหตุ  <br> *ช่องสีเหลือง คือ ได้รับการจองเเล้วเเต่ยังไม่ยืนยัน(จองผ่านเเอปมือถือ)</p>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->

        </div>

    </div>
    
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>

</body>

</html>